@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #1b4e9b;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #ffffff;
  font-family: "Roboto Mono", sans-serif;
  scroll-behavior: smooth !important;
}

@layer components {
  .main-container {
    @apply w-full max-w-[1500px] mx-auto px-4 md:px-6 xl:px-12 2xl:px-6;
  }
  .common-transition {
    @apply transition-all ease-in-out duration-300 !important;
  }
  .top-spacing {
    @apply pt-2 md:pt-4 lg:pt-4 2xl:pt-6;
  }
  .bottom-spacing {
    @apply pb-2 md:pb-4 lg:pb-4 2xl:pb-6;
  }
}
